
$mobile-breakpoint: 960px;
$drawer-width: 360px;
$color-primary: #0973ba;
$color-primary-dark: #004ba0;

.building {
  cursor: pointer;

  @media screen and (min-width: $mobile-breakpoint) {
    &:hover rect {
      fill: $color-primary;
    }

    &:hover tspan {
      fill: white;
    }

    &:hover .elev {
      fill: white;
    }

    &:hover .icon {
      fill: none;
      stroke: white;
    }

    &:hover .arrow {
      fill: white;
    }
  }

  &:active rect {
    fill: $color-primary;
  }
}

.section {
  pointer-events: none;
}